VITE_SUPABASE_PROJECT_ID="seu-project-id"
VITE_SUPABASE_PUBLISHABLE_KEY="sua-chave-anon-publica"
VITE_SUPABASE_URL="https://seu-project-id.supabase.co"
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADMqRKNg6G8oQukM
VITE_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
APP_URL=https://gestoresemfoco.com.br
